.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  vertical-align: middle;

  input {
    opacity: 0;
    width: 0;
    height: 0 !important;
    position: absolute;

    &:checked + .slider {
      background-color: var(--accent);
      
      &:before {
        transform: translateX(16px);
        background-color: #000;
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #333;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px !important;

    &:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 2px;
      bottom: 2px;
      background-color: #888;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 1px !important;
      box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    }
  }

  &:hover .slider:before {
    background-color: #fff;
  }
}
